html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: $text;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}


.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid{
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}
@media(max-width:720px){
	.container-fluid{
		padding: 0 15px;
	}
}
button{
	cursor: pointer;
}
.title{
	margin-bottom: 30px;
	font-size: 36px;
	line-height: 60px;
	text-align: center;
	font-weight: 700;
	color: $bg;

}





