.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-right: 50px;
    margin-left: auto;
}
.header__text span{
    color: $red;
}
.header__box{
    display: flex;
    align-items: center;
}

.header__btn {
    margin-left: 10px;
    width: 72px;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    color: $white;
    text-align: center;
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
}
.header__btn-logout.header__btn-login--on{
    display: block;
}
.header__btn-register,
.header__btn-logout{
    background-color: $green;
    transition: all .4s ease-in;
}
.header__btn-register:hover{
    background-color: $red;
    transition: all .4s ease-in;
}
.header__btn-login{
    margin-left: 7px;
    background-color: $red;
    transition: all .4s ease-in;
}
.header__btn-login:hover{
    background-color: $green;
    transition: all .4s ease-in;
}

.header__circle{
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
}
.header__circle.active{
    display: block;
}
.header__circle span{
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    right: -5px;
    top: -7px;
    font-size: 11px;
    color: $white;
    background-color: #fcb322;
}
.header__circle::before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.notification.header__circle::before{
    background: url('../images/home/icon/icon-1.png') no-repeat;
}
.message.header__circle::before{
    background: url('../images/home/icon/icon-2.png') no-repeat;
}
.basket.header__circle::before{
    background: url('../images/home/icon/icon-3.png') no-repeat;
}
.header__circle + .header__circle{
    margin-left: 15px;
}
.header__menu {
    background-color: $bg;
}
.user{
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
}
.user::before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: url('../images/home/icon/arrows.png') no-repeat;
    top: 7px;
    right:  0;
}
.user__inner{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.user__image {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.user__name {
    font-size: 14px;
    font-weight: 500;
    color: #222;
}
.user__money {
    font-size: 14px;
    color: $green;
}
.user__menu{
    padding: 20px;
    position: absolute;
    width: 158px;
   top: 69px;
   left: 0px;
    background-color: #fff;
    transition: all .3s ease-in;
   height: 0;
   padding: 0 20px;
   overflow: hidden;
}
.user__box:hover .user__menu
{
    height: auto;
    padding: 20px;
    overflow: auto;
}

.user__menu-item {
    position: relative;
    padding-left: 25px;
   margin-bottom: 15px;
}
.user__menu-item::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/home/icon/arrows-menu.png') no-repeat;
    left: 0;
    top: 5px;
}
.user__menu-link {
    font-size: 12px;
}
.user__box,
.basket__box{
    position: relative;
    margin-left: 15px;
}


// BASKET

.basket__box{
 
}
.basket__menu {
    position: absolute;
    width: 289px;
    top: 62px;
    border: 1px solid #e0e0e0;
    border-top: none;
    right: 0px;
    background-color: $white;
    z-index: 9;
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in;
}

.basket__box:hover .basket__menu
{
    height: auto;
    overflow: auto;
  
}
.basket__item {
    margin-bottom: 15px;
    padding: 23px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-top: none;
}
.basket__img {
    margin-right: 15px;
}

.basket__info-name {
    font-weight: 500;
}
.basket__info-theme {
    font-size: 12px;
    color: $green;
}
.basket__info-sum {
    font-size: 16px;
    font-weight: 500;
}

.basket__sum {
    background-color: $white;
    padding: 23px;
}
.basket__title {
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.basket__btn {
    padding: 12px 5px;
    font-size: 14px;
    text-align: center;
    width: 85px;
    background-color: $green;
    font-weight: 700;
    color: $white;
}
.basket__btn-checkout {
    width: 123px;
    margin-left: 10px;
    background-color: $red;
    color: $white;
    font-size: 14px;
}







.menu {
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list {
    display: flex;
}
.menu__list-item + .menu__list-item{
    margin-left: 30px;
}
.menu__list-link {
    font-size: 14px;
    color: $white;
}
.menu__list-link:hover{
    color: $green;
    transition: color .3s ease-in;
}


.search{
    background: url('../images/home/serach-bg.jpg') no-repeat center;
    background-size: cover;
    height: 533px;
}
.search__inner{
    padding: 155px 0 100px;
    color: $white;
    text-align: center;
}
.search__inner-title {
    margin-bottom: 28px;
    font-size: 48px;
    font-weight: 700;
}
.search__inner-text {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
}
.search__inner-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
}

.form__input {
    display: block;
    width: 100%;
    padding-left: 25px;
    padding-right: 60px;
    border-radius: 4px;
    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
    height: 56px;
    border: none;
    font-size: 14px;
    font-weight: 500;
}
.form__input::placeholder{
    color: #90a4ae;
    font-weight: 500;
}
  
.search__inner-btn {
    position: absolute;
    content: "";
    top: 16px;
    right: 20px;
    background: transparent;
    border: none;
}



// PRODUCT
.products {
    padding: 110px 0;
    background-color: $grey;
}
.container-fluid {
}
.products__title {
      
}
.products__inner {
}
.products__inner-block {
    text-align: center;
    margin-bottom: 60px;
}
.products__inner-btn {
   padding: 12px 21px;
   border: none;
   background-color: $white;
   color: $bg;
}
.products__inner-box{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
}
.products__inner-btn + .products__inner-btn{
    margin-left: 5px;
}
.product__item {
    margin-bottom: 30px;
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.product__item-img {
    min-height: 250px;
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.product__item-content {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    font-weight: 500;
    border-bottom: 1px solid #e7ecf2;
}
.product__item-name {
    max-width: 310px;
}
.product__item-title {
    display: block;
    font-size: 18px;
    color: $bg;
}
.product__item-category {
    display: block;
    font-size: 14px;
    color: $green;
}
.product__item-price {
    font-size: 20px;
    font-weight: 700;
    color: $bg;
}
.product__item-info {
    padding: 10px 30px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__item-author{
    font-size: 14px;
    font-weight: 500;
}
.product__item-author span{
    margin-right: 14px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.product__bottom-btn {
    text-align: center;
}
.product__bottom-button {
    margin-top: 45px 5px 0;
    padding: 20px 30px;
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    background-color: $white;
    color: $bg;
}
.mixitup-control-active{
    background-color: $red;
    color: $white;
}
.rate-star{
    display: inline-block;
    margin-right: 15px;
} 

.product-slider{
    padding: 120px 0 110px;
}
.slick-dots{
    display: flex;
    justify-content: center;
}
.slick-dots li{
    display: inline-block;
}
.slick-dots li {
    margin-left: 10px;
}
.slick-dots li:first-child{
    margin-left: 0;
}
.slick-dots li button{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 0;
    background-color: rgb(232, 232, 232);
    border: none;
    cursor: pointer;
}
li.slick-active button {
    background-color: $green;
}

 